<% provide(:title, 'Home') %>

<div class="marketing">
  <h1>Ethnic Marketplace</h1>

</div>
<div class="row">
	<div class="col-md-6">
	  <h1>Events</h1>
	</div>
	<div class="col-md-6">
	  <h2>Find the needed vendors for your next event</h2>
	    <ul>
	      <li>Religious Events</li>
	      <li>Weddings</li>
	      <li>Naming Ceremonies</li>
	    </ul>
	    <h2>For businesses, post your event based services</h2>
	    <ul>
	      <li>DJs and MCs</li>
	      <li>Caterers and Food Service</li>
	      <li>Venues</li>
	      <li>Makeup Artists and Attire Vendors</li>
	    </ul>
	</div>
	<div class="col-md-6">
	  products write up
	</div>
	<div class="col-md-6">
	  <h1>Products</h1>
	</div>
	<div class="col-md-6">
	  Services
	</div>
	<div class="col-md-6">
	  services write up
	</div>
	<div class="col-md-6">
	  Community
	</div>
	<div class="col-md-6">
	  Community write up
	</div>
</div>
<div class="marketing">
  <h1>Network<h1>
    <ul>
      <li>Group complimentary products and services</li>
      <li>Recommend complimentary businesses</li>
      <li>Build your community of </li>
    </ul>
</div>